<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>BioPat LDI Viewer (beta)</title>
  <meta name="description" content="LDI Viewer for BioPat2017">
  <meta name="author" content="RIIDPO-TEAM">
	
<style type="text/css" media="screen">

html *
{
   font-family: "Noto Sans", sans-serif;
}

.username{
    text-align: center; 
    position: fixed;
    right: 0;
    width: auto;
	margin-right: 1%;
	height: 38px;
	line-height: 34px;
	margin-left:180px;
	z-index: 1;
    overflow: hidden;
	font-family: "Noto Sans", sans-serif;
  }
.TITLE{
    text-align: center; 
    position: fixed;
    margin-left:180px;
    margin-right: 180px;
	width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    z-index: 1;
	font-family: "Noto Sans", sans-serif;
  }
.line1{
    line-height: 34px;
    overflow: hidden;
    height: 30px;
}

.line2{
    overflow: hidden;
    height: 1em;
    font-size: 14px;
}

.logo{
    position: fixed;
    left: 0;
	top: 46px;
	margin-left: 1%;
	margin-bottom: 20px;
	z-index: 1;
  }

#zoom{
	height: 38px;
	vertical-align: top;
	line-height: 34px;
	width: 35px;
	text-align: center;
	font-family: "Noto Sans", sans-serif;
}

#openseadragon1{
	background: rgb(235,235,235);
}

</style>

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>

<div id="openseadragon1" style="width: auto; height: 98vh;">
<div id="zoom"></div>
	<div class="logo"><a href="http://www.RIIDPO.org" target="_blank"><img src = "/static/dmalogo3_edited.png" alt=""></a></div>
	<div class="username">{{ user_name }}</div>
	<div class="TITLE">{{ class_Name }}
		<div class="line1">{{ line1 }}</div>
		<div class="line2">{{ line2 }}</div>
	</div>
</div>
<script src="/static/openseadragon/openseadragon.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/static/openseadragon/openseadragon-scalebar.js"></script>
<script src="/static/openseadragon/openseadragon-zoomtoolbar.js"></script>
<script type="text/javascript">
	var viewer = OpenSeadragon({
		id: "openseadragon1",
		prefixUrl: "/static/openseadragon/images/",
		debugMode: {{ debug }},
		sequenceMode: false,
		showNavigator: true,
		navigatorPosition: 'BOTTOM_RIGHT',
		tileSources: "/static/BioPat/{{ slide_id }}.dzi",
	});

// ---------------- Scale bar --------------------//
	viewer.scalebar({
		type: OpenSeadragon.ScalebarType.MICROSCOPY,
		pixelsPerMeter: 4424779,
		minWidth: "20em",
		location: OpenSeadragon.ScalebarLocation.BOTTOM_LEFT,
		xOffset: 5,
		yOffset: 10,
		stayInsideImage: true,
		color: "rgb(75, 75, 75)",
		fontColor: "rgb(50, 50, 50)",
		backgroundColor: "rgba(255, 255, 255, 0)",
		fontSize: "medium",
		barThickness: 3
	});
// ------------------ Zoom ----------------------//
	viewer.Zoom();
	var zoomEl = document.getElementById('zoom');
	var updateZoom = function() {
		var maxUpdateZoomScale = 40;
		var updateZoomDecimal = 2;
		var updateZoomSign = 'X';
		var zoom = viewer.viewport.getZoom(true);
		var imageZoom = viewer.viewport.viewportToImageZoom(zoom);
			zoomEl.innerHTML = (
				Math.round(
					imageZoom *
					maxUpdateZoomScale * 
					Math.pow(10, updateZoomDecimal) 
				) / Math.pow(10, updateZoomDecimal) + updateZoomSign
			)
		}

	viewer.addHandler('open', function() {
        	var tracker = new OpenSeadragon.MouseTracker({
            		element: viewer.container,
            		moveHandler: function(event) {
                		var zoom = viewer.viewport.getZoom(true);
                		var imageZoom = viewer.viewport.viewportToImageZoom(zoom);
                		updateZoom();
				//overlay.resize();  
           		 	}
        		});   
        	viewer.addHandler('animation', updateZoom);
	});
// ----------------- Navigator ------------------//

	$(viewer.element).find('.navigator').css('background-color', 'transparent');


</script>
</body>
</html>

